

body {
    background-color:#a61366;
  font-family: Arial, Helvetica, sans-serif;
}


/* Create two columns/boxes that floats next to each other */
nav {

   float: center;

   margin: 120px 0 0 0;

   width: 70%;
    background-color:black;
}

nav a {
    border: 9px white;
    padding:25px;
    background-color:black;
}

#leftcolumn{
    float:left;
    width: 45%;

	margin: 1%;
}




a:link {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}


article {
    
  padding: 20px;
  width: 100%;
  background-color: #ffa200;
  height: 368px; 
}


/* Style the footer */
footer {
  padding: 10px;
  text-align: center;
  color: white;
	clear:both;
}
  
   main {
    
    clear: both;

}
.borderedImage {

	border: 5px solid black;

	padding: 2px;

	margin: 6px;

}
article p{
    float:right;
    width:70%;
}
article img{
    float:left;
}
article h3{ 
    text-align:center;
}

#right{
    float:right;
    width: 25%;

	margin: 1%;
        
}
    
    
}
        
        
}
